USE [master]
GO
/****** Object:  Database [Carbon]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE DATABASE [Carbon]
GO

USE [Carbon]
GO

/****** Object:  Schema [HumanResources]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE SCHEMA [HumanResources]
GO
/****** Object:  Schema [Person]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE SCHEMA [Person]
GO

/****** Object:  UserDefinedDataType [dbo].[Flag]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE TYPE [dbo].[Flag] FROM [bit] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Name]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE TYPE [dbo].[Name] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[NameStyle]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE TYPE [dbo].[NameStyle] FROM [bit] NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Phone]    Script Date: 5/26/2017 9:57:33 PM ******/
CREATE TYPE [dbo].[Phone] FROM [nvarchar](25) NULL
GO
/****** Object:  Table [HumanResources].[Department]    Script Date: 5/26/2017 9:57:33 PM ******/

CREATE TABLE [HumanResources].[Department]
(
	[DepartmentID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[Name] NOT NULL,
	[GroupName] [dbo].[Name] NOT NULL,
	CONSTRAINT [PK_Department_DepartmentID] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HumanResources].[Employee]    Script Date: 5/26/2017 9:57:33 PM ******/

CREATE TABLE [HumanResources].[Employee]
(
	[BusinessEntityID] [int] NOT NULL,
	[OrganizationNode] [hierarchyid] NULL,
	[OrganizationLevel]  AS ([OrganizationNode].[GetLevel]()),
	[JobTitle] [nvarchar](50) NOT NULL,
	[HireDate] [date] NOT NULL,
	CONSTRAINT [PK_Employee_BusinessEntityID] PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HumanResources].[EmployeeDepartmentHistory]    Script Date: 5/26/2017 9:57:33 PM ******/

CREATE TABLE [HumanResources].[EmployeeDepartmentHistory]
(
	[BusinessEntityID] [int] NOT NULL,
	[DepartmentID] [smallint] NOT NULL,
	[ShiftID] [tinyint] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[ModifiedDate] [datetime] NOT NULL,
	CONSTRAINT [PK_EmployeeDepartmentHistory_BusinessEntityID_StartDate_DepartmentID] PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC,
	[StartDate] ASC,
	[DepartmentID] ASC,
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Person].[EmailAddress]    Script Date: 5/26/2017 9:57:33 PM ******/

CREATE TABLE [Person].[EmailAddress]
(
	[BusinessEntityID] [int] NOT NULL,
	[EmailAddressID] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [nvarchar](50) NULL,
	CONSTRAINT [PK_EmailAddress_BusinessEntityID_EmailAddressID] PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC,
	[EmailAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Person].[Person]    Script Date: 5/26/2017 9:57:33 PM ******/

CREATE TABLE [Person].[Person]
(
	[BusinessEntityID] [int] NOT NULL,
	[FirstName] [dbo].[Name] NOT NULL,
	[LastName] [dbo].[Name] NOT NULL,
	CONSTRAINT [PK_Person_BusinessEntityID] PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Person].[PersonPhone]    Script Date: 5/26/2017 9:57:33 PM ******/

CREATE TABLE [Person].[PersonPhone]
(
	[BusinessEntityID] [int] NOT NULL,
	[PhoneNumber] [dbo].[Phone] NOT NULL,
	CONSTRAINT [PK_PersonPhone_BusinessEntityID_PhoneNumber_PhoneNumberTypeID] PRIMARY KEY CLUSTERED 
(
	[BusinessEntityID] ASC,
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [HumanResources].[vEmployee]    Script Date: 5/26/2017 9:57:33 PM ******/


CREATE VIEW [HumanResources].[vEmployee]
AS
	SELECT
	e.[BusinessEntityID]
	, e.[OrganizationNode]
	, e.[OrganizationLevel]
    , p.[FirstName]
    , p.[LastName]
    , e.[JobTitle]  
    , pp.[PhoneNumber]
    , ea.[EmailAddress]
	, d.[DepartmentID]
	, d.[GroupName]
	, d.[Name] as DepartmentName
	FROM [HumanResources].[Employee] e
		INNER JOIN [Person].[Person] p
		ON p.[BusinessEntityID] = e.[BusinessEntityID]
		LEFT OUTER JOIN [Person].[PersonPhone] pp
		ON pp.BusinessEntityID = p.[BusinessEntityID]
		LEFT OUTER JOIN [Person].[EmailAddress] ea
		ON p.[BusinessEntityID] = ea.[BusinessEntityID]
		INNER JOIN [HumanResources].[EmployeeDepartmentHistory] edh
		ON e.[BusinessEntityID] = edh.[BusinessEntityID]
		INNER JOIN [HumanResources].[Department] d
		ON edh.[DepartmentID] = d.[DepartmentID]
	WHERE edh.EndDate IS NULL
GO
SET IDENTITY_INSERT [HumanResources].[Department] ON

INSERT [HumanResources].[Department]
	([DepartmentID], [Name], [GroupName])
VALUES
	(1, N'Engineering', N'Research and Development')
INSERT [HumanResources].[Department]
	([DepartmentID], [Name], [GroupName])
VALUES
	(2, N'Tool Design', N'Research and Development')
INSERT [HumanResources].[Department]
	([DepartmentID], [Name], [GroupName])
VALUES
	(3, N'Sales', N'Sales and Marketing')
SET IDENTITY_INSERT [HumanResources].[Department] OFF
INSERT [HumanResources].[Employee]
	([BusinessEntityID], [OrganizationNode], [JobTitle], [HireDate])
VALUES
	(1, N'/', N'Chief Executive Officer', CAST(N'2009-01-14' AS Date))
INSERT [HumanResources].[Employee]
	([BusinessEntityID], [OrganizationNode], [JobTitle], [HireDate])
VALUES
	(2, N'/1/', N'Vice President of Engineering', CAST(N'2008-01-31' AS Date))
INSERT [HumanResources].[Employee]
	([BusinessEntityID], [OrganizationNode], [JobTitle], [HireDate])
VALUES
	(3, N'/1/1/', N'Engineering Manager', CAST(N'2007-11-11' AS Date))
INSERT [HumanResources].[EmployeeDepartmentHistory]
	([BusinessEntityID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate])
VALUES
	(1, 16, 1, CAST(N'2009-01-14' AS Date), NULL, CAST(N'2009-01-13T00:00:00.000' AS DateTime))
INSERT [HumanResources].[EmployeeDepartmentHistory]
	([BusinessEntityID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate])
VALUES
	(2, 1, 1, CAST(N'2008-01-31' AS Date), NULL, CAST(N'2008-01-30T00:00:00.000' AS DateTime))
INSERT [HumanResources].[EmployeeDepartmentHistory]
	([BusinessEntityID], [DepartmentID], [ShiftID], [StartDate], [EndDate], [ModifiedDate])
VALUES
	(3, 1, 1, CAST(N'2007-11-11' AS Date), NULL, CAST(N'2007-11-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Person].[EmailAddress] ON

INSERT [Person].[EmailAddress]
	([BusinessEntityID], [EmailAddressID], [EmailAddress])
VALUES
	(1, 1, N'ken0@adventure-works.com')
INSERT [Person].[EmailAddress]
	([BusinessEntityID], [EmailAddressID], [EmailAddress])
VALUES
	(2, 2, N'terri0@adventure-works.com')
INSERT [Person].[EmailAddress]
	([BusinessEntityID], [EmailAddressID], [EmailAddress])
VALUES
	(3, 3, N'roberto0@adventure-works.com')
SET IDENTITY_INSERT [Person].[EmailAddress] OFF
INSERT [Person].[Person]
	([BusinessEntityID], [FirstName], [LastName])
VALUES
	(1, N'Ken', N'Sánchez')
INSERT [Person].[Person]
	([BusinessEntityID], [FirstName], [LastName])
VALUES
	(2, N'Terri', N'Duffy')
INSERT [Person].[Person]
	([BusinessEntityID], [FirstName], [LastName])
VALUES
	(3, N'Roberto', N'Tamburello')

INSERT [Person].[PersonPhone]
	([BusinessEntityID], [PhoneNumber])
VALUES
	(1, N'697-555-0142')
INSERT [Person].[PersonPhone]
	([BusinessEntityID], [PhoneNumber])
VALUES
	(2, N'819-555-0175')
INSERT [Person].[PersonPhone]
	([BusinessEntityID], [PhoneNumber])
VALUES
	(3, N'212-555-0187')
ALTER TABLE [HumanResources].[EmployeeDepartmentHistory] ADD  CONSTRAINT [DF_EmployeeDepartmentHistory_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
/****** Object:  StoredProcedure [HumanResources].[uspGetDirectManager]    Script Date: 5/26/2017 9:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [HumanResources].[uspGetDirectManager]
	@BusinessEntityID int
AS
SELECT
	m.[BusinessEntityID]
	, m.[OrganizationNode]
	, m.[OrganizationLevel]
    , m.[FirstName]
    , m.[LastName]
    , m.[JobTitle]  
    , m.[PhoneNumber]
    , m.[EmailAddress]
	, m.[DepartmentID]
	, m.[GroupName]
	, m.[DepartmentName]
FROM [HumanResources].[vEmployee] m
	INNER JOIN [HumanResources].[vEmployee] e
	ON m.[OrganizationNode] = e.[OrganizationNode].GetAncestor(1)
where e.BusinessEntityID = @BusinessEntityID
RETURN 0
GO
/****** Object:  StoredProcedure [HumanResources].[uspGetDirectReports]    Script Date: 5/26/2017 9:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [HumanResources].[uspGetDirectReports]
	@BusinessEntityID int
AS
DECLARE @hid hierarchyid
SET @hid = (SELECT Top (1)
	m.[OrganizationNode]
from [HumanResources].[vEmployee] m
where m.[BusinessEntityID] = @BusinessEntityID)

SELECT
	e.[BusinessEntityID]
	, e.[OrganizationNode]
	, e.[OrganizationLevel]
    , e.[FirstName]
    , e.[LastName]
    , e.[JobTitle]  
    , e.[PhoneNumber]
    , e.[EmailAddress]
	, e.[DepartmentID]
	, e.[GroupName]
	, e.[DepartmentName]
FROM [HumanResources].[vEmployee] e
WHERE e.[OrganizationNode].GetAncestor(1) = @hid
RETURN 0
GO
